
.body
{
background-color:#a9a9a937;
margin-top: 30px;
margin-bottom: 20px;
overflow: hidden;
}
.indexpage
 {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}
#main
{
    margin-top: 50px;
    margin-left: 50px;
    border-style: initial
}
a
{
    text-decoration: none;
    color: rgb(10, 114, 1);
}
a :visited
{
color: blueviolet;
}
.icon-container
{
display: flex;
align-items: center;
gap: 20px;
}
.icon-box
{
    display: flex;
    text-decoration : none;
    font-size: 14px;
    flex-direction: column;
}
.form{
    width: (400px , 100%);
    gap: 10px;
}
.error{
    color :red;
    font-size:10px;
}
